<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h3>@keyup.enter → 监听键盘回车事件</h3>
    <input @keyup.enter="fn" v-model="userName" type="text">
    <br>
    <br>
    <br>
    <input @keyup="func" v-model="userName" type="text">
  </div>
  <script src="./vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        userName: ''
      },
      methods: {
        fn() {
          console.log('键盘回车弹起的时候触发', this.userName);
        },
        func(e) {
          if (e.key == 'Enter') {
            console.log('键盘回车弹起的时候触发', this.userName);
          }
        }
      }
    })
  </script>
</body>

</html>